
      <hr class="feature">
      <div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Clojure Crash Course</h2>
          <p class="lead">
            Learn to think functionally in a LISP!
          </p>
        </div>
        <div class="col-md-4">
          <div class="thumbnail center-block">
            <img src="img/clojure-logo.svg"></div>
          </div>
      </div>
      <hr class="feature">


      <!-- Site footer -->
      <div class="footer">
      <p>© Dactic 2013</p>
      </div>