<div class="col-sm-4 feature-course">
  <div class="content-wrap center-block">
  <div class="thumbnail center-block">
    <span class="center-block glyphicon glyphicon-flash"></span>
  </div>
  <h2><a ng-href="#/courses/{{course.slug}}">{{course.title}}</a> <small>
      <span class="label label-success">{{}}</span>
    </small>
  </h2>
  <p>{{course["short-description"]}}</p>
  <div class="center-absolute-wrapper">
    <a class="center-absolute-element btn btn-default" ng-href="#/courses/{{course.slug}}"
    role="button">Learn More »</a>
  </div>
</div>
</div>