
<div class="row">
	<div class="col-md-12">
		<h2 class="">Why Teach?</h2>

		<p class="lead">
		  Hear from an instructor about what it's like to teach a course.
		</p>
	</div>
</div>
<div class="row">
			<div class="col-md-2">
			<div class="center-block">
		<a href="https://github.com/krisajenkins" class="thumbnail"><img src="https://2.gravatar.com/avatar/2d0beb04f1fa078ace4f044c00721cca?s=100" class="img-circle img-responsive"></a>
	</div>
	</div>
	<div class="col-md-8">
		<blockquote>
			<p>
				Teaching A Crash Course in Clojure with Dactic was a huge pleasure & immensely rewarding. I got to meet enthusiastic developers and help them on their journey into Functional Programming; give something back to the Clojure community; and solidify all the knowledge I’ve gained myself over the years. It was a brilliant opportunity & a highlight of my year.
			</p>
			<small>
				<a href="https://github.com/krisajenkins">Kris Jenkins</a>
			</small>
		</blockquote>
	</div>

</div>
<div class="row">
		<div class="col-md-2">
		<a href="https://github.com/james-henderson" class="thumbnail"><img src="https://1.gravatar.com/avatar/bb30988bd759696e267aa03609a03efd?&s=100" class="img-circle img-responsive"></a>
	</div>
	<div class="col-md-8">
		<blockquote>
			<p>
				I had very little prior training experience, and getting the experience of teaching a Dactic course proved to be very valuable. We didn't have to worry about any of the administration of the courses in terms of marketing/students/payments/etc - thankfully! The money wasn't really a consideration, but was enough to make sure that the students were bought in - course attendance was good even until the last week.
			</p>
			<p>
				The Student's were amazing, and it was inmensly gratifying to see their 'lightbulb moments', and to know that you've set them along a good path of learning Clojure.
			</p>
			<small>
				<a href="https://github.com/james-henderson">James Henderson</a>
			</small>
		</blockquote>
	</div>
</div>

