<div class="row">
	<div class="col-md-12">
		<h2 class="">What our students have to say about our courses</h2>
	</div>
</div>
<hr class="feature">
<div class="row">
	<div class="col-md-12">
		<blockquote>
			<p>
				I've learned many things from the course that I'd struggled with for a long time when using books or tutorials on the internet - there is no replacement for hands on training. The teachers have a huge amount of experience and seem enthused to give us a glimpse of how powerful Clojure can be and were able to go in to great depth when asked questions about the language. I was surprised by how fast the group was able to build up to working with complex data from Spotify or weather forecasts. My final thoughts are that I want to use Clojure for everything!
			</p>
			<small>
				Luke Snape
			</small>
		</blockquote>
	</div>
	<div class="col-md-12">
		<blockquote>
			<p>
Very good and well versed tutor. Also with interesting project ideas and repertoire.
</p>
			<small>
				Anand Gopinath
			</small>
		</blockquote>
	</div>
	<div class="col-md-12">
		<blockquote>
			<p>
				I had a very positive experience with the Clojure Crash Course. Taught by professionals, the course content was very focused and practical. My confidence with Clojure increased significantly over the 4 sessions. I also enjoyed the instructor's relaxed and humour filled delivery. In summary, I would recommend this experience and look forward to taking more courses with Dactic in future.
			</p>
			<small>
				Paddy Gallagher
			</small>
		</blockquote>
	</div>
	<div class="col-md-12">
		<blockquote>
			<p>
				The course covered a huge amount of material with plenty of practical exercises to consolidate what we were learning.  It was friendly, well organised, and the tutors' enthusiasm for the language was really motivating.
			</p>
			<small>
				Leo Shaw
			</small>
		</blockquote>
	</div>
	<div class="col-md-12">
		<blockquote>
			<p>
				The atmosphere is engaging and supportive, the tutors are experts in their field, and the lessons are delivered at the perfect speed to dive into new technologies without feeling under pressure - and no-one gets left behind.

				In four weeks I’ve not only learnt the language basics, but how to keep track of state in a multiplayer online game, how to manage asynchronous event streams from server to UI, how to consume and manipulate data from third-party APIs, and plenty more.

				I can’t wait for the next one.
			</p>
			<small>
				Matt Senior
			</small>
		</blockquote>
	</div>
</div>