
<section ng-include="'partials/student-testimonials.html'">
</section>
<h2 >Student FAQ</h2>
<hr class="feature">
<div id="studentFAQ" class="row">
<div class="col-lg-12">
	<div class="dactic-faq-panel panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="featurette-heading panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/students/#collapseOne">What is Dactic?</a>
				</h2>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">Dactic is for developers who believe learning should be a social exercise. We make it simple for developers to learn from other developers through semi-structured, in-person, mentored courses. </p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="featurette-heading panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/students/#collapseHowItWorks">Ok, how does Dactic work?</a>
				</h2>
			</div>
			<div id="collapseHowItWorks" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">Dactic works closely with domain experts to develop fun and instructional course plans. We advertise these courses on our website, when a number of students sign-up, the course is activated. We get in touch with the instructor who will teach the course, and a company that will provide a venue. Then, everyone gets together and learns something!</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/students/#collapseWhatIfIMiss">What happens if I miss a session?</a>
				</h2>
			</div>
			<div id="collapseWhatIfIMiss" class="panel-collapse collapse">
				<div class="panel-body"><p class="lead">
					Never fear, each session will be documented. We'll get in touch with you to tell you what was covered in the session you missed, and what work you'll need to do in order to catch up. If you let us know before-hand, we can even record the session for you.
								</p>
				<p class="lead">
					Sometimes there are several instances of the same course running in parallel. Usually they ocur on different weekdays. When that's the case, you're welcome to switch around between courses to suit your schedule.
				</p></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/students/#collapseTwo">Money?</a>
				</h2>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body"><p class="lead">
									A two hour session is typically £20. Most courses last four sessions (£80). Dactic keeps 20% and the rest is paid to the instructor.
									</p>
										<p class="lead">
									We've found that for our instructors, the money is an afterthought. They're teaching because they enjoy it.
								</p></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/students/#collapseThree">Who are the instructors?</a>
				</h2>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body"><p class="lead">
									Our instructors are hackers who are expert in a particular subject. They're sufficiently passionate that they want to teach other hackers about this subject.
								</p></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/students/#collapseFour">How long do courses last?</a>
				</h2>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body"><p class="lead">
									Sessions usually occur in the evenings, and tend to last 2 hours. Courses typically last for 4 sessions, spread over 4 weeks, it depends on the course.
								</p></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/students/#collapseSeven">What are the students like?</a>
				</h2>
			</div>
			<div id="collapseSeven" class="panel-collapse collapse">
				<div class="panel-body"><p class="lead">
									Our students are usually curious professional developers that are interested in exploring new technologies.
								</p></div>
			</div>
		</div>
	</div></div>
</div>

<hr class="feature">

<!-- Site footer -->
<div class="footer">
	<p>© Dactic 2013</p>
</div>