
<div class="row">
	<div class="col-md-12">
		<h2 class="">Dactic</h2>
		<p class="lead">
			Developers use our site to get together and learn new things from other developers via affordable, semi-structured, in-person, mentored courses - like Coursera, except in-person.
		</p>
		<p class="lead">
			It's about developers teaching developers. Courses are usually held on workday evenings, or weekends, and are attended by curious types who want to learn new things - typically professional developers.
		</p>
		<p class="lead">
			Here's a selection of titles from some of the courses we run: "Introduction to Functional Programming, in Clojure", "Guided Tour of Chapter One of S.I.C.P", "Expert Javascript", "Introduction to Machine Learning using Scikit Learn" (in the works).
		</p>
	</div>
</div>
<hr>
<section ng-include="'partials/instructor-testimonials.html'" ></section>
<h2 class="" id="teachingFAQHeader">
	Teaching FAQ's |
	<a href="#/teaching/submit-proposal">Teach a course</a>
</h2>
<hr class="feature">
<div class="row">
	<div class="col-lg-12">
		<div class="dactic-faq-panel panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="featurette-heading panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseOne">How does Dactic work?</a>
					</h2>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						<p class="lead">
							Developers use our site to get together and learn new things from other developers via affordable, semi-structured, in-person, mentored courses - like Coursera, except in-person.
						</p>
						<p class="lead">
							It's about developers teaching developers. Courses are usually held on workday evenings, or weekends, and are attended by curious types who want to learn new things - typically professional developers.
						</p>
						<p class="lead">
							 We advertise these courses on our website, and have students register to attend. We do the legwork of providing a venue for the course.
						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#canITeach">Can I teach?</a>
					</h2>
				</div>
				<div id="canITeach" class="panel-collapse collapse">
					<div class="panel-body">
						<p class="lead">
							You don't have to be a trained teacher. If you're smart and passionate about something, we believe you can be a good teacher. Our only criteria is that you teach something interesting!
						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseWhatsASession">What happens during a "session"?</a>
					</h2>
				</div>
				<div id="collapseWhatsASession" class="panel-collapse collapse">
					<div class="panel-body">
						<p class="lead">
							Sessions are like highly interactive university tutorials. The key to a fun session is to strike a balance between theory & practice. You want the session to be both fun & edifying. Instructors are there to explain the new concepts, set the exercises, and help students get unstuck.
						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseTwo">Money?</a>
					</h2>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<p class="lead">
							A two hour session is typically £20. Most courses last four sessions (£80). Dactic keeps 8% and the rest is paid to the instructor. An instructor might make ~£700.
						</p>
						<p class="lead">
							We've found that for our instructors, the money is an afterthought. They're teaching because they enjoy it.
						</p>
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseThree">What's a typical instructor like?</a>
				</h2>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">
						Our instructors are hackers who are expert in a particular subject. They're developers by day, but are excited by the prospect of teaching.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseFour">How long do courses last?</a>
				</h2>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">
						Sessions usually occur in the evenings, and weekends. The length of a course is entirely at the instructors discretion. Our courses typically are 8 hours long, in total.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseFive">What can I teach?</a>
				</h2>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">
						Our only criteria is that you teach something interesting. Create a compelling course plan, and think about how you can teach it in an engaging manner.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseSix">
						I'd like to teach, but you don't have a course in my area of expertise.
					</a>
				</h2>
			</div>
			<div id="collapseSix" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">
						All of the courses you see listed were developed by the teacher with help from us. If you're talented, enthusiastic and knowledgeable, we'd like to help you design a course. Please send us an email.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseSeven">Who attends these courses?</a>
				</h2>
			</div>
			<div id="collapseSeven" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">
						Our students are usually curious professional developers that are interested in exploring new technologies.
					</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#/teaching/#collapseEight">Where do I sign up to teach?</a>
				</h2>
			</div>
			<div id="collapseEight" class="panel-collapse collapse">
				<div class="panel-body">
					<p class="lead">
						<a href="mailto:md@dactic.io?body=Hi, I'd like to chat about teaching a course.">Drop us an email.</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<hr class="feature">