<div class="row featurette ng-scope">
  <div class="col-md-12">
    <h2 class="featurette-heading">Who is this course for?</h2>

    <p class="lead">
      If you feel you there are gaps in your knowledge of Computing or Functional Programming, or perhaps never had a rigorous first-principles introduction to the subject, this is the course for you. The text and accompanying exercises in Chapter 1 are challenging and a wonderfully stimulating experience.
    </p>
    <p class="lead">
      Though we're covering the first chapter, and playing around with the basic building blocks of functional programming, don't be fooled into thinking this course will be an easy matter. The exercises in the book are notoriously difficult, and require a deep understanding of the material.
    </p>
    <p class="lead">
      The book is distributed under an open license, so copies of it are free to <a href="https://mitpress.mit.edu/sicp/toc/toc.html">access online</a>.
    </p>
  </div>
</div>